.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #3B3B0B;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

body{
  padding-top: 15px;

}

[class*="col-"], footer {
  color: #F5F576;
  text-align: center;
  list-style-type: none;
}


.navbar {
  background-color: #59590B;
  position: relative;
  display: block;
  padding: 10px 15px;
  border-color: #7EEB10;
  
  margin-top: 20px;
  font-size: 18px;
}

.formation{
  margin-top: 20px;
  border: 12px solid black;
  padding: 15px;
  overflow: auto;
  background-color: #3B3B2C
}
.skill{
  margin-top: 20px;
  border: 10px dashed blue;
  padding: 15px;
  background-color: #59590B;
  color: #F5F576;
  font-size: 22px;
}
.experience{
  margin-top: 20px;
  border: 10px dashed #6B0D5D;
  padding: 15px;
  background-color: #59590B;
  color: #F5F576;
  font-size: 22px;
}
.leisure{
  margin-top: 20px;
  border: 12px solid #F0059A;
  padding: 15px;
  overflow: auto;
  background-color: #AF3BD9;
  font-size: 24px;
}
.liens{
  margin-top: 20px;
  padding: 15px;
  border: 10px dashed #220045;
  background-color: #3B3B2C;
  color: #F5F576;
}
a:hover{
  color: #7EEB10;
}
